<div class="modal-container">
    <div class="modal">
        <header class="modal__header">
            <nav class="modal__header__navigation">
                <div class="modal__header__navigation__item">
                    <h3>Confirme sus productos</h3>
                </div>

                <div class="modal__header__navigation__item">
                    <button class="button button--close" id="button-minicart-close">&times;</button>
                </div>
            </nav>
        </header>

        <section class="modal__container">
            <!-- <div class="modal__container__left">
        <h2>Contenido principal</h2>
        <p>Posiblemente acá hayan fotos</p>
      </div> -->

            <aside class="modal__container__sidebar">
                {% for cart in cart.items %}
                    <form action="cart/add" class="minicart-form" method="post">
                        <!-- Campo oculto del formulario -->
                        <input type="hidden" name="id" data-id="{{ cart.id }}" value="{{ cart.id }}"/>

                        <h2>{{ cart.title }}</h2>

                        <div class="minicart-form__quantity">
                            <div class="minicart-form__quantity__inner">
                                <button class="button button--quantity" type="button" data-action="remove" data-price="{{ cart.price }}">-</button>
                                <input type="number" name="quantity" id="quantity-{{ cart.id }}" data-id="quantity-{{ cart.id }}" maxlength="2" min="0" max="20" value="{{ cart.quantity }}"/>
                                <button class="button button--quantity" type="button" data-action="add" data-price="{{ cart.price }}">+</button>
                            </div>

                            <div class="minicart-form__quantity__inner">
                                <div data-name="price">
                                    {{ cart.price | times: cart.quantity | money }}
                                </div>

                                <button data-action="delete" type="button">&times;</button>
                            </div>
                        </div>
                    </form>
                {% endfor %}
            </aside>
        </section>

        <footer class="modal__footer">&nbsp;</footer>
    </div>
</div>
