{{ "style.css" | asset_url | stylesheet_tag }}
<script src="{{ 'send-form.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'carousel.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'variants.js' | asset_url }}" defer="defer"></script>


<div class="container">
    <h1>Nuestros productos</h1>
    <!-- https://shopify.dev/themes/architecture/locales/storefront-locale-files -->

    <section class="product-grid" id="products">
        {% for product in collections.all.products %}
            <article class="product-grid__item">
                <header class="product-grid__item__header" data-name="carousel">
                    <div class="carousel" data-name="carousel">
                        <!-- Imágenes del carousel -->
                        <div class="carousel__images" data-name="images">
                            <div class="carousel__images__item">
                                {% for image in product.images %}
                                <picture>
                                    <source srcset="{{ image | image_url: width: 300, height: 300 }}">
                                    <img alt="{{ product.title }}" src="{{ image | image_url: width: 400, height: 400 }}"
                                        loading="lazy" width="300" height="auto">
                                </picture>

                                {% endfor %}
                            </div>

                            <div class="absolute" data-name="next">
                                Aquí va un carousel de imágenes o una imagen específica si el usuario seleccionó una
                                variante.
                            </div>
                        </div>

                        <!-- Indicadores de posición de imágenes -->
                        <div class="carousel__indicators" data-name="indicators"></div>

                        <!-- Contenedor de direcciones -->
                        <div class="carousel__arrow">
                            <div class="carousel__arrow__item carousel__arrow__item--left"
                                data-svg="{{ 'arrow.svg' | asset_url }}"></div>
                            <div class="carousel__arrow__item carousel__arrow__item--right"
                                data-svg="{{ 'arrow.svg' | asset_url }}"></div>
                        </div>
                    </div>

                    <!-- Imagen representativa del producto -->
                    <div class="image">

                        {% for variant in product.variants %}
                            <picture>
                                <source srcset="{{ variant.image.src | image_url: width: 300, height: 300 }}">
                                <img alt="{{ product.title }}" src="{{ variant.image.src | image_url: width: 400, height: 400 }}"
                                    loading="lazy" width="300" height="auto">
                            </picture>
                        {% endfor %}
                    </div>

                    <!-- Variantes de productos -->
                    <div class="variants" id="variants">
                        {% for variant in product.variants %}
                            <button class="variants__item" title="{{ variant.title }}" data-variant-id="{{ variant.id }}">
                                {{ variant.title }}
                            </button>
                        {% endfor %}
                    </div>

                </header>

                <section class="product-grid__item__description">
                    <h2 class="product-grid__item__title">
                        {{ product.title }}
                    </h2>

                    <p class="product-grid__item__paragraph">{{ product.description }}</p>
                </section>

                <footer class="product-grid__item__footer">
                    <form action="/cart/add" class="form" method="post">
                        <input type="hidden" name="id" value="{{ product.variants.first.id }}" />

                        <div class="form__quantity">
                            <label class="product-grid__item__label" for="quantify">
                                <input id="quantity" max="20" min="1" name="quantity" type="number" value="1" />
                            </label>
                        </div>

                        <div class="form__button-container">
                            <button class="button button--primary button--width" type="submit">
                                Agregar al carrito
                            </button>
                        </div>
                    </form>
                </footer>

            </article>
        {% endfor %}
    </section>
</div>