{{ "style.css" | asset_url | stylesheet_tag }}
<script src="{{ 'send-form.js' | asset_url }}" defer="defer"></script>

{% assign path = "//cdn.shopify.com/s/files/1/0642/7938/0208/" %}

<div class="container">
    <h1>Nuestros productos</h1>
    <!-- https://shopify.dev/themes/architecture/locales/storefront-locale-files -->

    <section class="product-grid" id="products">
        {% for collection in collections %}
            {% for product in collection.products %}
                {% if product.available %}
                    <article class="product-grid__item">
                        <header class="product-grid__item__header">
                            {{ product.url }}
                            <img src="" alt="{{ product.title }}"/>
                        </header>

                        <section class="product-grid__item__description">
                            <h2 class="product-grid__item__title">
                                {{ product.title }}
                            </h2>

                            <p class="product-grid__item__paragraph">{{ product.description }}</p>
                        </section>

                        <footer class="product-grid__item__footer">
                            <form action="/cart/add" class="form" method="post">
                                <input type="hidden" name="id" value="{{ product.variants.first.id }}"/>

                                <div class="form__quantity">
                                    <label class="product-grid__item__label" for="quantify">
                                        <input id="quantity" max="20" min="1" name="quantity" type="number" value="1"/>
                                    </label>
                                </div>

                                <div class="form__button-container">
                                    <button class="button button--primary button--width" type="submit">
                                        Agregar al carrito
                                    </button>
                                </div>
                            </form>
                        </footer>
                    </article>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </section>

    <hr/>

    <div class="container">
        <h2>Probando las colecciones</h2>
        <!-- Realizando algunas pruebas con las colecciones -->
        {% for collection in collections %}
            {% for product in collection.products %}
                {% for image in product.images %}
                    <picture>
                        <source srcset="{{ image | image_url: width: 300, height: 'auto' }}">
                        <img alt="{{ product.title }}" src="{{ image | image_url: width: 400, height: 400 }}" loading="lazy" width="300" height="auto">
                    </picture>

                {% endfor %}
            {% endfor %}
        {% endfor %}
    </div>
</div>