{{ "style.css" | asset_url | stylesheet_tag }}
<script src="{{ 'send-form.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'carousel.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'colors.js' | asset_url }}" defer="defer"></script>

<!-- Get color list -->
<!-- {% assign colors_list = settings | newline_to_br | split: '<br />' %} -->
{% assign colors_list = settings | split: '=>' %}

<div class="container">
    <h1>Nuestros productos</h1>
    <!-- https://shopify.dev/themes/architecture/locales/storefront-locale-files -->

    <section class="product-grid" id="products">
        {% for product in collections.all.products %}
            <article class="product-grid__item">
                <header class="product-grid__item__header" data-name="carousel">

                    <!-- Imagen representativa del producto -->
                    <div class="image">
                        {% for image in product.images %}
                            <picture>
                                <source srcset="{{ image | image_url: width: 400, height: 400 }}" type="image/*" />
                                <img src="{{ image | image_url: width: 400, height: 400 }}" alt="{{ product.title }}" loading="lazy" width="400" height="400">
                            </picture>
                            {% break %}
                        {% endfor %}
                    </div>

                    <!-- Variantes de productos -->
                    <div class="options" id="options">
                        {% for options in product.options_with_values %}
                           
                            {% for name_option in options.values %}

                                <button class="options__item options__item--{{ name_option | downcase | replace: ' ', '-' }}" title="{{ name_option }}">
                                    &nbsp;
                                </button>
                            {% endfor %}                            
                        {% endfor %}
                    </div>
                </header>

                <section class="product-grid__item__description">
                    <h2 class="product-grid__item__title">
                        {{ product.title }}
                    </h2>

                    <p class="product-grid__item__paragraph">{{ product.description }}</p>
                </section>

                <footer class="product-grid__item__footer">
                    <form action="/cart/add" class="form" method="post">
                        <input type="hidden" name="id" value="{{ product.variants.first.id }}" />

                        <div class="form__quantity">
                            <label class="product-grid__item__label" for="quantify">
                                <input id="quantity" max="20" min="1" name="quantity" type="number" value="1" />
                            </label>
                        </div>

                        <div class="form__button-container">
                            <button class="button button--primary button--width" type="submit">
                                Agregar al carrito
                            </button>
                        </div>
                    </form>
                </footer>

            </article>
        {% endfor %}
    </section>
</div>

dlunamontilla
{% assign colors_list = settings.color_maping | newline_to_br | split: '<br />' %}

{% style %}
{%- for color in colors_list -%}
    {%- assign css = color | split: ':' -%}
        .options__item--{{ css[0] | handle }} { --background: {{ css[1] }}; }
{%- endfor -%}
{% endstyle %}