{{ 'style.css' | asset_url | stylesheet_tag }}

<div class="container">
    <h2>Nuestros productos</h2>

    <section class="product-grid">
        {% for collection in collections %}
        {% for product in collection.products %}

        <article class="product-grid__item">
            <header class="product-grid__item__header">
                {{ product.url }}
            </header>

            <section class="product-grid__item__description">
                <h2 class="product-grid__item__description">{{ product.title }}</h2>
                <p class="product-grid__item__paragraph">{{ product.description }}</p>
            </section>

            <footer class="product-grid__item__footer">
                <button>Agregar al carro de compra</button>
            </footer>
        </article>

        {{ product.name }}
        {% endfor %}
        {% endfor %}
    </section>

</div>