{{ 'style.css' | asset_url | stylesheet_tag }}
<script src="{{ 'send-form.js' | asset_url }}" defer="defer"></script>

<div class="container">
    <h2>Nuestros productos</h2>

    <section class="product-grid">
        {% for collection in collections %}
        {% for product in collection.products %}

        <article class="product-grid__item">
            <header class="product-grid__item__header">
                {{ product.url }}
            </header>

            <section class="product-grid__item__description">
                <h2 class="product-grid__item__description">{{ product.title }}</h2>
                <p class="product-grid__item__paragraph">{{ product.description }}</p>
            </section>

            <footer class="product-grid__item__footer">
                <form action="https://dev-applications.myshopify.com/cart/add" method="post">
                    <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                    <label for="quantify" class="product-grid__item__label">
                        <input type="number" name="quantity" id="quantity" min="1" max="20" value="1" />
                    </label>

                    <button type="submit" class="button button--primary">Agregar al carrito</button>
                </form>
            </footer>
        </article>

        {% endfor %}
        {% endfor %}
    </section>

    <hr>


</div>